# Exports
export LC_ALL=en_US.UTF-8
export GPG_TTY=$(tty)
{% if ansible_os_family == "Debian" %}
export FZF_BASE="$(asdf where fzf)"
{% elif ansible_os_family == "Darwin" %}
export FZF_BASE="$(brew --prefix fzf)"
{% endif %}

# Autoload Settings
autoload -Uz regexp-replace
autoload -Uz add-zsh-hook
autoload -Uz colors
autoload -Uz compinit && compinit

# Keybindings
bindkey '^ ' autosuggest-accept # Use Ctrl+Space to select the current suggestion
bindkey '^P' up-history         # Shows history content above
bindkey '^N' down-history       # Shows history content below

eval "$(sheldon source)"
