# Settings
set fish_greeting ""

# Exports
set --global --export LC_ALL "en_US.UTF-8"
set --global --export GPG_TTY "$(tty)"

{% if ansible_os_family == "Debian" %}
source "{{ home }}/.asdf/completions/asdf.fish"
{% endif %}

{% if ansible_os_family == "Darwin" %}
eval "$(/opt/homebrew/bin/brew shellenv)"
{% endif %}
