[user]
  name = {{ git_name }}
  email = {{ git_email }}
  signingKey = {{ git_gpg }}

[commit]
  gpgSign = true

[gpg]
  program = {{ gpg_install_path }}

[core]
  editor = {{ git_config_core_editor }}
  autocrlf = {{ git_config_core_autocrlf }}
  excludesfile = ~/.gitignore_global
  pager = {{ git_diff_tool }} | less --tabs=4 -RFX

[interactive]
  diffFilter = {{ git_diff_tool }} --patch

[init]
  defaultBranch = {{ git_config_init_defaultbranch }}

[pull]
  rebase = {{ git_config_pull_rebase }}

[push]
  default = {{ git_config_push_default }}

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

{% for alias in git_aliases %}
[alias]
  {{ alias.name }} = {{ alias.command }}
{% endfor %}
