# @property {string} font_family      - The font family used in the terminal.
# @property {string} bold_font        - The font used for bold text in the terminal.
# @property {string} italic_font      - The font used for italic text in the terminal.
# @property {string} bold_italic_font - The font used for bold and italic text in the terminal.
font_family      JetBrainsMono Nerd Font Mono Medium
bold_font        JetBrainsMono Nerd Font Mono Bold
italic_font      JetBrainsMono Nerd Font Mono Italic
bold_italic_font JetBrainsMono Nerd Font Mono Bold Italic

# @property {number} font_size - The font size to be used in the terminal.
font_size 14
